# Proteger el directorio private
<Directory "/private">
    Order deny,allow
    Deny from all
</Directory>

# Redirigir las peticiones a /api/nfts al script PHP que servirá los datos
RewriteEngine On
RewriteRule ^api/nfts$ api/nfts.php [L] 