<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdrianPunks Menu</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../adrian1.ico">
  <link rel="stylesheet" href="../styles.css">
</head>
<body>
  <nav class="navbar">
    <div class="container-fluid p-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="filter: invert(100%);"></span>
      </button>
      <a class="navbar-brand" href="index.html">$ADRIAN</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a class="nav-link text-white" href="index.html">Index</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="https://app.uniswap.org/#/swap?chain=base&inputCurrency=ETH&outputCurrency=0x7E99075Ce287F1cF8cBCAaa6A1C7894e404fD7Ea" target="_blank">Buy $ADRIAN</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="market.html">Marketplace</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="auctionv2.html">Adrian Auction</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="dutchauction.html">DUTCH Auction</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="lottery.html">Lottery</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="pumpit.html">Pump your ADRIANS</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="filthyrich.html">Filthy Rich</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="ascension.html">ASCENSION</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="taxreaper.html">The TAX reaper</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="burnstats.html">Burn Stats</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="theofferingseats.html">THE OFFERING</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="pimpkiller.html">PimpKiller</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="https://twitter.com/adriancerda" target="_blank">Twitter</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="https://discord.gg/YHc5Sh65Hm" target="_blank">Discord</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="https://opensea.io/collection/adriangallery" target="_blank">OpenSea</a></li>
        </ul>
      </div>
      <button class="btn d-flex align-items-center" id="connectWalletButton">
        🟦🟥 Connect Wallet
      </button>
    </div>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.umd.min.js"></script>
  <script src="components/menu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>